
{include file="public/header" /}
    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>所有订单</h1>
                </div>
                <div class="col-sm-6">
                    <!-- <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Simple Tables</li>
                    </ol> -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"></h3>

                            <!------------>
                            <form class="form-inline ml-3" action="{:url('Order/search')}" method="GET">
                                <div class="input-group input-group-sm">
                                    <input class="form-control " type="text" name="name" placeholder="Search"  />

                                </div>

                                开始日期：<input type="text" id="d11" name="start_time" onClick="WdatePicker()"/>
                                结束日期：<input type="text" id="d12" name="end_time" onClick="WdatePicker()"/>

                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>

                                <div style="width: 150px;float: right;margin-left: 15px">
                                    <button type="button" class="btn btn-block btn-default">导出</button>
                                </div>
                            </form>



                            <!------------>

                            <!------------>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered" style="text-align: center;">
                                <thead>
                                <tr>
                                    <th>

                                        <div class="form-check">
                                            <input name="id" class="form-check-input" type="checkbox" value="">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </th>
                                    <th>ID</th>
                                    <th>产品名</th>
                                    <th>数量/价格</th>
                                    <th>收件人</th>
                                    <th>收件电话</th>
                                    <th>收货地址</th>

                                    <th>快递状态</th>
                                    <th>订单状态</th>
                                    <th>下单IP</th>
                                    <th>下单日期</th>
                                    <th>备注</th>


                                    <th>编辑</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="order" id="vo"}
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <input name="id" class="form-check-input" type="checkbox" value="">
                                            <label class="form-check-label"></label>
                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td>{$vo.product}</td>
                                    <td>{$vo.num}/298</td>
                                    <td>{$vo.username}</td>
                                    <td>{$vo.tel}</td>
                                    <td>{$vo.address}</td>
                                    <td>{$express_status_s[$vo.express_status]}</td>
                                    <td>{$order_status_s[$vo.order_status]}</td>
                                    <td>{$vo.order_ip}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>{$vo.remark}</td>
                                    <td>
                                        <a class="" href="#"><i class="fas fa-edit"></i> 编辑 </a>
                                        <a class="" href="#"> <i class="fas fa-save"></i> 保存</a>

                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <style>
                            .pagination{
                                display: flex;
                                padding-left: 0;
                                list-style: none;
                                border-radius: .25rem;
                            }
                            .pagination li{
                                border-top-left-radius: .2rem;
                                border-bottom-left-radius: .2rem;
                            }

                            .pagination>.disabled{
                                position: relative;
                                display: block;
                                padding: .5rem .75rem;
                                margin-left: -1px;
                                line-height: 1.25;
                                color: #007bff;
                                background-color: #fff;
                                border: 1px solid #dee2e6;
                            }
                            .pagination li a {
                                position: relative;
                                display: block;
                                padding: .5rem .75rem;
                                margin-left: -1px;
                                line-height: 1.25;
                                color: #007bff;
                                background-color: #fff;
                                border: 1px solid #dee2e6;
                            }

                            .active {
                                position: relative;
                                display: block;
                                padding: .5rem .75rem;
                                margin-left: -1px;
                                line-height: 1.25;
                                color: #fff;

                                border: 1px solid #dee2e6;
                                background-color: #007bff;

                            }
                        </style>
                        <div class="card-footer clearfix">
                            {$page}
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
    <!-- /.content-wrapper -->
{include file="public/footer" /}
